/* Стиль для всей сцены */
.root {
    -fx-background-color: #f0f0f0;  /* светлый фон */
}

/* Стиль для кнопок */
.button {
    -fx-background-color: #4CAF50; /* зеленый цвет */
    -fx-text-fill: white;           /* белый текст */
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
}

/* Стиль для кнопок при наведении */
.button:hover {
    -fx-background-color: #45a049;
}

/* Стиль для списка питомцев */
.list-cell {
    -fx-font-size: 16px;
    -fx-text-fill: #333333;  /* темный текст */
}
